<header>
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="header-title ">
                    <span  type="button" class="home" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" 
                     >
                        DVP Personas
                    </span>
                </div>
                <div class="header-link ">
                    <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="button" 
                        routerLink="usuarios" routerLinkActive="active"  
                        [routerLinkActiveOptions]="{exact: true}" >Login</button>
                </div>
                <div class="header-link ">
                    <button id="crearButton" class="btn btn-lg btn-primary btn-block" type="button"
                    routerLink="personas" routerLinkActive="active"  
                      [routerLinkActiveOptions]="{exact: true}" >Crear Personas</button>
                </div>
            </div>
        </div>
    </div>  
</header>
